<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
    <header>
        <a class="title-container" href="/">
            <h1>Mini Message Board</h1>
            <p>Share your messages</p>
        </a>
        <nav>
            <a href="/messages">Messages</a>
            <a href="/new">New Message</a>
        </nav>
    </header>
    <hr class="header-line">
