<a href="/messages/<%= message.id %> ">
    <div class="message-container">
        <p class="username"><%= message.name %> </p>
        <p class="message"><%= message.message %> </p>
        <p class="time"><%= message.added %> </p>
    </div>
</a>