<a href="/messages/<%= message.id %> ">
    <div class="message-container">
        <p class="username"><%= message.user %> </p>
        <p class="message"><%= message.text %> </p>
        <p class="time"><%= message.added %> </p>
    </div>
</a>